<div class="wrapper wrapper-content">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-2">
          <i class="fa fa-4x fa-gift"></i>
        </div>
        <div class="col-md-4">
          <h3>Welcome Offer</h3>
          <p>Give your customer a big surprise for joining your list</p>
          <button class="btn btn-primary btn-sm">Go to Offer</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-2">
          <i class="fa fa-4x fa-envelope"></i>
        </div>
        <div class="col-md-4">
          <h3>Bulk Email Support</h3>
          <p>Grow your customer base by importing bunch of email addresses</p>
          <button class="btn btn-primary btn-sm">Import email list</button>
        </div>
      </div>
    </div>
    <br/><br/>
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-2">
          <i class="fa fa-4x fa-mobile"></i>
        </div>
        <div class="col-md-4">
          <h3>SMS to Join</h3>
          <p>Give your customer a big surprise for joining your list</p>
          <button class="btn btn-primary btn-sm">Manage</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-2">
          <i class="fa fa-4x fa-list-ul"></i>
        </div>
        <div class="col-md-4">
          <h3>Online sign up form</h3>
          <p>You can ask your customers to sign up to your list</p>
          <button class="btn btn-primary btn-sm">Import email list</button>
        </div>
      </div>
    </div>
  </div>
</div>
