<div class="col-sm-10"><input type="text" placeholder=".input-lg" class="form-control input-lg m-b">
  <input type="text" placeholder="Default input" class="form-control m-b"> <input type="text" placeholder="Enter Coupon Code" class="form-control input-sm">
</div>
