<div class="wrapper wrapper-content">
  <div class="row text-center">
    <h1>Create a New Offer</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <uib-accordion close-others="oneAtATime">
        <uib-accordion-group is-open="true">
          <uib-accordion-heading>
            Offer Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </uib-accordion-heading>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Offer Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Offer Title">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Offer Details</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Offer Image</label>
              <div class="col-sm-offset-2 col-sm-10">
                <div ngf-drop ngf-select ng-model="files" class="drop-box"
                ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                accept="image/*,application/pdf"
                ngf-pattern="'image/*'">Drop images here or click to upload</div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
              </div>
            </div>
          </form>
            </uib-accordion-group>
            <uib-accordion-group>
              <uib-accordion-heading>
                Coupon Limit <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </uib-accordion-heading>
            </uib-accordian-group>
          </uib-accordian>
        </div>
        <div class="col-md-6">
            <div class="row">
              <h1>Test Offer</h1>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="row">
                  <img ph-img="500x300"  class="img-responsive img-polaroid"/>
                </div>
                <div class="row">
                  <address>
                    <strong>Twitter, Inc.</strong><br>
                      1355 Market Street, Suite 900<br>
                      San Francisco, CA 94103<br>
                      <abbr title="Phone">P:</abbr> (123) 456-7890
                  </address>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="">
                      <button class="btn btn-primary">Redeem</button>
                      <timer class="pull-right" end-time="1451628000000">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds</timer>
                </div>
                <div class="">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab. Sed ut perspiciatis unde omnis iste natus error sit
                </div>
                <div>
                  <button class="btn btn-default">Share</button>
                </div>
              </div>
            </div>

        </div>
        <!-- <button type="submit" ng-click="open()" class="btn btn-lg btn-primary">Create Offer</button> -->
      </div>
    </div>
