<div class="wrapper wrapper-content">
  <div class="row text-center">
    <h1>Create your first Offer</h1>
  </div>
  <div class="row text-center">
    <button type="submit" ng-click="open()" class="btn btn-lg btn-primary">Create Offer</button>
  </div>
</div>


<script type="text/ng-template" id="CreateOfferModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Choose a template</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <h1>Test Offer</h1>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="row">
                    <img ph-img="500x300"  class="img-responsive img-polaroid"/>
                  </div>
                  <div class="row">
                    <address>
                      <strong>Twitter, Inc.</strong><br>
                        1355 Market Street, Suite 900<br>
                        San Francisco, CA 94103<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-primary">Redeem</button>
                    </div>
                    <div class="col-md-4">
                      <timer end-time="1451628000000">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <ul class="list-group">
                <li class="list-group-item">
                  <a href="">Minimal</a>
                </li>
                <li class="list-group-item">
                  <a href="">Flat</a>
                </li>
                <li class="list-group-item">
                  <a href="">Material</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning pull-left" type="button" ng-click="ok()">Cancel</button>
            <button class="btn btn-success btn-lg pull-right" type="button" ng-click="cancel()">Use Template</button>
        </div>
</script>
