<div class="wrapper wrapper-content">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <div class="col-md-1">
          <i class="fa fa-2x fa-facebook"></i>
        </div>
        <div class="col-md-2">
          <p>FACEBOOK</p>
          <button class="btn btn-primary">Link</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-1">
          <i class="fa fa-2x fa-twitter"></i>
        </div>
        <div class="col-md-2">
          <p>TWITTER</p>
          <button class="btn btn-primary">Link</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-1">
          <i class="fa fa-2x fa-instagram"></i>
        </div>
        <div class="col-md-2">
          <p>INSTAGRAM</p>
          <button class="btn btn-primary">Link</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-1">
          <i class="fa fa-2x fa-facebook"></i>
        </div>
        <div class="col-md-2">
          <p>LINKEDIN</p>
          <button class="btn btn-primary">Link</button>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-3">
        <div class="col-md-1">
          <i class="fa fa-2x fa-envelope"></i>
        </div>
        <div class="col-md-2">
          <p>EMAIL</p>
          <button class="btn btn-primary">Settings</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-1">
          <i class="fa fa-2x fa-mobile"></i>
        </div>
        <div class="col-md-2">
          <p>TEXT</p>
          <button class="btn btn-primary">Settings</button>
        </div>
      </div>
    </div>
  </div>
</div>
