<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Page title set in pageTitle directive -->
  <title page-title></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=EB+Garamond|Oswald:400,700,300|Open+Sans:400,300,600,700,800|Roboto:400,500,700,900' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"></link>
  <%= csrf_meta_tags %>
</head>
<body ng-app="multifiApp" ng-controller="MainCtrl">

  <div ui-view></div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
